body {
  background-color: #000;
}

#cr-stage {
  margin: 0 auto;
}

#fps-counter {
  position: absolute;
  color: #F00;
  right: 10px;
  top: 10px;
  z-index: 1001;
}

.Text {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
